@import url("https://fonts.googleapis.com/css2?family=EB+Garamond:ital@0;1&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}
/* .roboto-regular {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
} */
/* Header */
.headerBlock {
  height: 70px;
  background-color: rgb(90, 6, 192);
  color: azure;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo,
.user {
  margin: 5px;
  cursor: pointer;
}

/* Timer */
.timerHead {
  margin: 10px;
  display: flex;
  justify-content: center;
}
.timer {
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 550px;
  height: 200px;
  border: 1px solid gray;
  border-radius: 10px;
  background: rgb(90, 6, 192);
  background: linear-gradient(
    45deg,
    rgba(90, 6, 192, 1) 0%,
    rgba(130, 47, 230, 1) 73%
  );
}
.timerBlock {
  margin: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 85px;
  height: 150px;
  border: 1px solid gray;
  border-radius: 10px;
  font-size: 24px;
  background-color: azure;
}
#days,
#hours,
#minutes,
#secondes {
  font-size: 64px;
}

/* Modal */
.modal {
  width: 100%;
  height: 100%;
  background-color: rgb(55, 55, 56, 0.3);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3;
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
}
.modalDialog {
  background-color: azure;
  width: 300px;
  height: 400px;
  display: flex;
  padding: 20px;
  flex-direction: column;
  font-size: 20px;
}
.btnCloseModal {
  text-align: right;
  cursor: pointer;
}
h3 {
  text-align: center;
}
input {
  height: 24px;
  width: 275px;
  margin: 15px 0;
  font-size: 16px;
  padding: 10px;
  border: 1px solid silver;
  border-radius: 5px;
}
.btnLoginModal {
  height: 34px;
  width: 150px;
  margin: 50px auto;
  color: azure;
  font-size: 18px;
  background-color: rgb(90, 6, 192);
  border: 0;
  border-radius: 5px;
  cursor: pointer;
}

.btnLogin:hover {
  font-size: 18px;
  background-color: rgb(130, 47, 230);
}
.show {
  display: flex;
}
.hide {
  display: none;
}
